<h1>Pages#about</h1>
<p>Find me in app/views/pages/about.html.erb</p>

<div class="row">
    <div class="col-md-10">
        <span class="glyphicon glyphicon-search" aria-hidden="true"></span>
    </div>
</div>

<div class="row">
    <div class="col-md-1">
        <h3>Col - 1</h3>
    </div>
    <div class="col-md-1">
        <h3>Col - 2</h3>
    </div>
    <div class="col-md-1">
        <h3>Col - 3</h3>
    </div>
    <div class="col-md-1">
        <h3>Col - 4</h3>
    </div>
    <div class="col-md-1">
        <h3>Col - 5</h3>
    </div>
    <div class="col-md-1">
        <h3>Col - 6</h3>
    </div>
    <div class="col-md-1">
        <h3>Col - 7</h3>
    </div>
    <div class="col-md-1">
        <h3>Col - 8</h3>
    </div>
    <div class="col-md-1">
        <h3>Col - 9</h3>
    </div>
    <div class="col-md-1">
        <h3>Col - 10</h3>
    </div>
    <div class="col-md-1">
        <h3>Col - 11</h3>
    </div>
</div>

